*{margin:0px;}
body{background-image: url(images/bodybg.gif);
	width:1230px;
	margin-left:40px;
 height:870px;
font-size:12px;
font-style: '宋体';
color:#522a06;
}
#banner{padding:30px 130px;
	background-image: url(images/bg.gif);width:1000px;
	height:100px; }
#nav{padding:5px 130px;
	background-image: url(images/nav.jpg);
	width:1000px;height:25;}
#t1{color: #f9f603; text-decoration:none;}
a:link{color: #522a06; text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{color: #f9f603;text-decoration:underline;}
a:active{color: white; text-decoration:none;}
.text{background-color:#f8f5ee; color:white;width:140px;height:19px;}
.buttom{background-color:black; color:#fff;width:44px;height:21px;border:1px solid #f8f5ee}
a.n1:link{color: #fff; text-decoration:none; line-height:10px;}
a.n2:visited{text-decoration:none;line-height:10px}
a.n3:hover{color: #f9f603;text-decoration:none;line-height:10px}
a.n4:active{color: white; text-decoration:none;line-height:10px}
#foot{background-image: url(images/foot.gif);width:1000px;height:105px;padding:10px 115px;}
#content{width:1060px;height:689px;margin-left:100px;margin-right:50px;}
#content_top{width:800px;height:264px;}
#content_bottom_left{float:left;width:730px;height:365px;margin:0px 5px;margin:3px 0px;}
#content_bottom_right{float:left;width:14px;height:365px;margin:0px 25px;}
#news_pic{float:left;background-image: url(images/news_bg.png);background-size:100% 100%;width:306px;height:264px;}
#news-pic{width:294px;height:205px;padding:15px 6px;}
img{max-width:100%;max-height: 100%;}
#news-wod{width:135px;height:20px;padding:0px 85px;}
#news_list{float:left;width:400px;height:264px;margin-left: 28px;}
#news-pd{background-image: url(images/change.png);width:250px;height:30px;margin:3px 0px;}
#news-gd{background-image: url(images/more.png);width:20px;height:33px;}
#news-list1{width:304px;height:181px;}
#news-list2{width:46px;height:181px;}
#news_announce{float:left;width:14px;height:264px;margin-left: 30px}
#zg{width:200px;padding:10px 80px}
#gg{background-image: url(images/board_bg.png);width:300px;height:208px;background-size:100% 100%;}
#bottom_left{width:343px;height:190px;float:left;}
#xm{background-size:100% 100%;background-image: url(images/academic.png);width:250px;height:40px;}
#list2{width:280px;height:150px;float:left;}
#list21{width:88px;height:150px;}
#bottom_right{width:328px;height:190px;float:left;margin-left:30px;}
#mj{width:200px;padding:10px 100px}
#jg{background-image: url(images/show_bg.png);width:300px;height:365px;background-size:100% 100%;margin-left:25px;}
#link{display:inline;}
#gd2{background-image: url(images/view.png);height:15px;width:30px;margin-right:25px;float:right;}
#buttom-long{width:730px;height:175px;clear:both;}
#fc{background-size:100% 100%;background-image: url(images/fengcai_bg1.png);width:686px;height:40px;}
#fc2{background-size:100% 100%;background-image: url(images/fengcai_bg2.png);width:626px;height:165px;padding:5px 30px;clear:both;}
.ftl{float:left;}
.ftr{float:right;}
.lh{line-height:30px;}
