#content{height:1800px;width:1000px;margin:30px 200px;}
#xie{width:400px;height:20px;}
#text{margin:30px 50px;width:900px;height:950px;}
#yi{height:230px;}
#er{height:570px;margin-bottom:20px;}
#san{height:570px;margin-top:30px;}
#hua{width:410px; float:left;margin:0px 10px;}
.text{text-indent:2em;}
p{line-height:25px;}