#content{width:1060px;height:830px;
	margin:10px 100px;}
#right{float:left;width:690px;
	height:629px;margin:30px 5px;}
#left{float:left;width:200px;
	height:609px;margin:40px 50px;}
#px{width:190px;height:240px;margin:20px;
	background-image: url(images/bg.png);}
.dl{line-height:30px;width:120px;list-style-type: none;
	text-align:center;margin:5px auto;}
a.d1:link{color:black;font-size: 14px;
	font-weight:bold;}
a.d:hover{color:red;background-image: url(images/menubg.gif);}
#zx{width:190px;height:180px;padding:10px 0px;
	margin:20px;background-image: url(images/bg.png);}
#zs{width:630px;height:40px;padding:3px 50px;
	background-image: url(images/listtitle.png);
	color:red;font-size:25px;}
#zl{width:690px;height:579px;margin:30px 5px;}
#zw{width:690px;height:20px;margin:30px 5px;}
#b{width:11px;height:18px;padding:10px 12px;
	border:1px solid #522a06;margin:3px;float:left;}
#f1{width:200px;line-height:40px;float:left;}
#f2{width:80px;line-height:40px;float:right;}